## Module 01: Supervised Learning

### Lesson 04: Decision Trees

> Decision trees are a structure for decision-making where each decision leads to a set of consequences or additional decisions.

#### 01. Intro

**Akinator** is a computer game and mobile app by French company Elokence.com. During gameplay, it attempts to determine what fictional or real-life "character" the player is thinking of by asking a series of questions (in a manner similar to the game Twenty Questions). It uses an artificial intelligence program that learns the best questions to ask through its experience with players.

#### 02. Recommending Apps 1

#### 03. Recommending Apps 2

#### 04. Recommending Apps 3

$\boxed{Occupation} --> School --> Pokemin Go(App) \\
| \\
| \\
Work --> \boxed{Gender} --> Female --> whatsapp(App) \\
              | \\
              | \\
              Male --> Snapchat(App)
$

#### 05. Quiz: Student Admissions

#### 06. Solution: Student Admissions

#### 07. Entropy

The more rigid the set is or the more homogeneous, the less entropy you'll have, and vice versa. The more knowledge one has, the less entropy, and vice versa.

#### 08. Entropy Formula 1

#### 09. Entropy Formula 2

#### 10. Entropy Formula 3

What we'll use as definition of entropy is the average of the negatives of the logarithms of the probabilities of picking the balls in a way that we win the game.

$Entropy = -\frac{m}{m+n}log_2(\frac{m}{m+n}) - \frac{n}{m+n}log_2(\frac{n}{m+n})$

#### 11. Quiz: Do You Know Your Entropy?

#### 12. Multiclass Entropy

$Entropy = -\frac{m}{m+n}log_2(\frac{m}{m+n}) - \frac{n}{m+n}log_2(\frac{n}{m+n})$

We can state this in terms of probabilities instead for the number of red balls as $p_1 = \frac{m}{m+n}$ and the number of blue balls as $p_2 = \frac{n}{m+n}$:


$Entropy = -p_{1} log_2(p_1) - p_{2} log_2(p_2)$

This entropy equation can be extended to the multi-class case, where we have three or more possible values:

$\displaystyle Entropy = -p_{1} log_2(p_1) - p_{2} log_2(p_2) - ... - p_{n} log_2(p_n) = -\sum_{i=1}^{n}p_{i}log_2(p_i)$

The minimum value is still 0, when all elements are of the same value. The maximum value is still achieved when the outcome probabilities are the same, but the upper limit increases with the number of different outcomes.

#### 13. Quiz: Information Gain

#### 14. Solution: Information Gain

In general, the average entropy for the child groups will need to be a weighted average, based on the number of cases in each child group. That is, for m items in the first child group and n items in the second child group, the information gain is:

$InformationGain = Entropy(Parent) - (\frac{m}{m+n}Entropy(Child1) + \frac{n}{m+n}Entropy(Child2))$

#### 15. Maximizing Information Gain

Our algorithm will be very simple. Look at the possible splits that each column gives, calculate the information gain, and pick the largest one.

#### 16. Calculating Information Gain on a Dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from math import log

df = pd.read_csv('../../data/ml-bugs.csv')

In [2]:
df.head()

  Species  Color  Length
0   Mobug  Brown    11.6
1   Mobug   Blue    16.3
2   Lobug   Blue    15.1
3   Lobug  Green    23.7
4   Lobug   Blue    18.4

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
Species    24 non-null object
Color      24 non-null object
Length     24 non-null float64
dtypes: float64(1), object(2)
memory usage: 656.0+ bytes

In [4]:
df.columns

Index(['Species', 'Color', 'Length'], dtype='object')

In [5]:
df.Species.value_counts()

Lobug    14
Mobug    10
Name: Species, dtype: int64

In [6]:
df.Color.value_counts()

Blue     10
Green     8
Brown     6
Name: Color, dtype: int64

In [7]:
df.Length.min(), df.Length.max()

(11.6, 24.8)

In [8]:
df.query('Length < 17').Length.count(), df.query('Length >= 17').Length.count()

(9, 15)

In [9]:
df.query('Length < 20').Length.count(), df.query('Length >= 20').Length.count()

(17, 7)

In [10]:
ent = -14/24 * log(14/24, 2) - 10/24 * log(10/24, 2)
ent

0.9798687566511527

In [11]:
brown_pro = df.query('Color=="Brown" & Species=="Mobug"').Species.count() / df.query('Color=="Brown"').Species.count()
brown_ent = - brown_pro * log(brown_pro, 2) - (1-brown_pro) * log((1-brown_pro), 2)
blue_pro = df.query('Color == "Blue" & Species == "Mobug"').Species.count()/df.query('Color == "Blue"').Species.count()
blue_ent = - blue_pro * log(blue_pro, 2) - (1-blue_pro) * log((1-blue_pro), 2)
green_pro = df.query('Color == "Green" & Species == "Mobug"').Species.count()/df.query('Color == "Green"').Species.count()
green_ent = - green_pro * log(green_pro, 2) - (1-green_pro) * log((1-green_pro), 2)
color_gain = ent - (6/24 * brown_ent + 10/24 * blue_ent + 6/24 * green_ent)
color_gain

0.14291251933330185

In [12]:
less17_pro = df.query('Length < 17 & Species == "Mobug"').Species.count()/df.query('Length < 17').Species.count()
less17_ent = - less17_pro * log(less17_pro, 2) - (1-less17_pro) * log((1-less17_pro), 2)
great17_pro = df.query('Length >= 17 & Species == "Mobug"').Species.count()/df.query('Length >= 17').Species.count()
great17_ent = - great17_pro * log(great17_pro, 2) - (1-great17_pro) * log((1-great17_pro), 2)
num17_gain = ent - (9/24 * less17_ent + 15/24 * great17_ent)
num17_gain

0.11260735516748965

In [13]:
less20_pro = df.query('Length < 20 & Species == "Mobug"').Species.count()/df.query('Length < 20').Species.count()
less20_ent = - less20_pro * log(less20_pro, 2) - (1-less20_pro) * log((1-less20_pro), 2)
great20_pro = df.query('Length >= 20 & Species == "Mobug"').Species.count()/df.query('Length >= 20').Species.count()
great20_ent = - great20_pro * log(great20_pro, 2) - (1-great20_pro) * log((1-great20_pro), 2)
num20_gain = ent - (17/24*less20_ent + 7/24*great20_ent)
num20_gain

0.10073322588651712

#### 17. Hyperparameters

**Maximum Depth**

The maximum depth of a decision tree is simply the largest length between the root to a leaf. A tree of maximum length $k$ can have at most $2^k$ leaves.

**Minimum number of samples per leaf**

When splitting a node, one could run into the problem of having 99 samples in one of them, and 1 on the other. This will not take us too far in our process, and would be a waste of resources and time. If we want to avoid this, we can set a minimum for the number of samples we allow on each leaf.

This number can be specified as an integer, or as a float. If it's an integer, it's the number of minimum samples in the leaf. If it's a float, it'll be considered as the minimum percentage of samples on each leaf. For example, 0.1, or 10%, implies that a cut will not be allowed if in one of the leaves there is less than 10% of the samples on that node.

**Minimum number of samples per split**

This is the same as the minimum number of samples per leaf, but applied on any split of a node.

**Maximum number of features**

Oftentimes, we will have too many features to build a tree. If this is the case, in every split, we have to check the entire dataset on each of the features. This can be very expensive. A solution for this is to limit the number of features that one looks for in each split. If this number is large enough, we're very likely to find a good feature among the ones we look for (although maybe not the perfect one). However, if it's not as large as the number of features, it will speed up our calculations significantly.

#### 18. Decision Trees in sklearn

You'll need to complete each of the following steps:

1. Build a decision tree model
    * Create a decision tree classification model using scikit-learn's DecisionTree and assign it to the variablemodel.
2. Fit the model to the data
    * You won't need to specify any of the hyperparameters, since the default ones will fit the data with an accuracy of 100% in the dataset. However, we encourage you to play with hyperparameters such as max_depth and min_samples_leaf, and try to find the simplest possible model, i.e., the least likely one to overfit!
3. Predict using the model
    * Predict the labels for the training set, and assign this list to the variable y_pred.
4. Calculate the accuracy of the model
    * For this, use the function sklearn function accuracy_score.

In [14]:
# Import statements 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

# Read the data.
data = np.asarray(pd.read_csv('../../data/dt_data.csv', header=None))
# Assign the features to the variable X, and the labels to the variable y. 
X = data[:,0:2]
y = data[:,2]

# TODO: Create the decision tree model and assign it to the variable model.
# You won't need to, but if you'd like, play with hyperparameters such
# as max_depth and min_samples_leaf and see what they do to the decision
# boundary.
dt_param = {'max_depth': 4,
             'min_samples_leaf': 3,
             'min_samples_split': 2, 
             'max_features': 2}
model = DecisionTreeClassifier(max_depth=dt_param['max_depth'])

# TODO: Fit the model.
model.fit(X, y)

# TODO: Make predictions. Store them in the variable y_pred.
y_pred = model.predict(X)

# TODO: Calculate the accuracy and assign it to the variable acc.
acc = accuracy_score(y, y_pred)
acc

0.8333333333333334

#### 19. Titanic Survival Model with Decision Trees

In this lab, you will see how decision trees work by implementing a decision tree in sklearn.

We'll start by loading the dataset and displaying some of its rows.

In [15]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames

# Pretty display for notebooks
%matplotlib inline

# Set a random seed
import random
random.seed(42)

# Load the dataset
in_file = '../../data/titanic_data.csv'
full_data = pd.read_csv(in_file)

# Print the first few entries of the RMS Titanic data
display(full_data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Recall that these are the various features present for each passenger on the ship:
- **Survived**: Outcome of survival (0 = No; 1 = Yes)
- **Pclass**: Socio-economic class (1 = Upper class; 2 = Middle class; 3 = Lower class)
- **Name**: Name of passenger
- **Sex**: Sex of the passenger
- **Age**: Age of the passenger (Some entries contain `NaN`)
- **SibSp**: Number of siblings and spouses of the passenger aboard
- **Parch**: Number of parents and children of the passenger aboard
- **Ticket**: Ticket number of the passenger
- **Fare**: Fare paid by the passenger
- **Cabin** Cabin number of the passenger (Some entries contain `NaN`)
- **Embarked**: Port of embarkation of the passenger (C = Cherbourg; Q = Queenstown; S = Southampton)

Since we're interested in the outcome of survival for each passenger or crew member, we can remove the **Survived** feature from this dataset and store it as its own separate variable `outcomes`. We will use these outcomes as our prediction targets.  
Run the code cell below to remove **Survived** as a feature of the dataset and store it in `outcomes`.

In [16]:
# Store the 'Survived' feature in a new variable and remove it from the dataset
outcomes = full_data['Survived']
features_raw = full_data.drop('Survived', axis = 1)

# Show the new dataset with 'Survived' removed
display(features_raw.head())

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

The very same sample of the RMS Titanic data now shows the **Survived** feature removed from the DataFrame. Note that `data` (the passenger data) and `outcomes` (the outcomes of survival) are now *paired*. That means for any passenger `data.loc[i]`, they have the survival outcome `outcomes[i]`.

**Preprocessing the data**

Now, let's do some data preprocessing. First, we'll one-hot encode the features.

In [17]:
features = pd.get_dummies(features_raw)

In [18]:
# And now we'll fill in any blanks with zeroes.
features = features.fillna(0.0)
display(features.head())

,PassengerId,Pclass,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)","Name_Abelson, Mr. Samuel",...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,3,22.0,1,0,7.2500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,38.0,1,0,71.2833,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,35.0,1,0,53.1000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,3,35.0,0,0,8.0500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

**(TODO) Training the model**

Now we're ready to train a model in sklearn. First, let's split the data into training and testing sets. Then we'll train the model on the training set.

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, outcomes, test_size=0.2, random_state=42)

In [20]:
# Import the classifier from sklearn
from sklearn.tree import DecisionTreeClassifier

# Define the classifier, and fit it to the data
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

**Testing the model**

Now, let's see how our model does, let's calculate the accuracy over both the training and the testing set.

In [21]:
# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate the accuracy
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('The training accuracy is ', train_accuracy)
print('The test accuracy is ', test_accuracy)

The training accuracy is  1.0
The test accuracy is  0.8156424581005587

**Exercise: Improving the model**

Ok, high training accuracy and a lower testing accuracy. We may be overfitting a bit.

So now it's your turn to shine! Train a new model, and try to specify some parameters in order to improve the testing accuracy, such as:
- `max_depth`
- `min_samples_leaf`
- `min_samples_split`

You can use your intuition, trial and error, or even better, feel free to use Grid Search!

**Challenge:** Try to get to 85% accuracy on the testing set. If you'd like a hint, take a look at the solutions notebook next.

In [22]:
# Training the model
model = DecisionTreeClassifier(max_depth=6, min_samples_leaf=6, min_samples_split=10)
model.fit(X_train, y_train)

# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate the accuracy
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('The training accuracy is ', train_accuracy)
print('The test accuracy is ', test_accuracy)

The training accuracy is  0.8707865168539326
The test accuracy is  0.8547486033519553

#### 20. [Solution] Titanic Survival Model

#### 21. Outro